/* makes body span whole page */
body, html {
    height: 100%;
  }

/* Background image */
.bg {
    background-image: url(./images/BG.jpg);
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Change navbar styling */
.navbarstyle {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.986);
}

p, h1, label, h2{
  color: rgba(255, 255, 255, 0.986);
}

p {
  font-size: 25px;
  font-weight: bold;
}

footer {
  background-color: rgb(0, 0, 0);
  position: fixed;
  height: 60px;
  width: 100%;
  bottom: 0%;
  color: white;
  text-align: center;
}

#page-footer {
  background-color: rgb(74, 59, 80);
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0%;
}

figure {
  position: relative;
  text-align: center;
}

article a {
  color: white;
  font-size: 40px;
}

@media screen and (max-width: 400px) {
  .container {
    width: 80px;
    padding: 2px;
  }

  img {
    width: 150px;
    height: 150px;
  }

  article {
    text-align: center;
  }

  .col-xs-12 {
    position: relative;
    align-items: center;
  }

  footer {
    height: 10px;
  }
  
  #page-footer {
    height: 5px;
  }
  
  a, p {
    font-size: 10px;
  }
}


@media screen and (max-width: 768px) {
  .container {
    width: 600px;
    padding: 20px;
  }

  img {
    width: 250px;
    height: 250px;
  }

  a, p {
    font-size: 20px;
  }

}
